.body{
 font-family: 'Roboto', sans-serif;
text-align: center;
margin:auto;
padding:0;

}
@media (min-width: 425px);
.first-image{
  border-radius: 10%;

  width: 30%;
  height:30%;
  margin-top:70px;
  margin-bottom: 20px;
}

/* .heading{
  padding-bottom: 50px;
} */

@media (min-width: 425px);
.main-text{
  margin-top: 10px;
   color: hsl(224, 23%, 55%);
   font-size:10px;
   width: 30%;
   height:30%;
   margin-left: 335px;

}
.plan{
  font-size:12px;
  width: 30%;
  margin: auto;
  margin-left: auto;

}
.float-right{
  position: relative;
  padding-left:0px;
  margin-left:0;
  margin-top: 0;
  width: 10%;
}

.price{
color: hsl(224, 23%, 55%);
font-size:10px;
width: 30%;
height:30%;
margin:auto;
}
.btn-link{
  font-size:10px;
}

.img-music{
  width:30px;
    position: absolute;
    margin-left:-40px;
}
.link{
  position: absolute;
  margin-top:10px;
  margin-left:70px;
    font-size:10px;
}

.btn-primary{
  background-color: hsl(245, 75%, 52%) !important;
  margin-top:15px;
  width:280px;
  height:35px;
  font-size:12px;
  text-align: center;
  color:#fff;
}

.Cancel{
  font-size:12px;
  margin-top:10px;
  text-align: center;
  margin-bottom:30px;
  color: hsl(224, 23%, 55%) !important;
}
